.cc-control
{
    border: 1px solid rgb(151, 149, 149);
}

.cc-header
{
    background-color: #000000;
    color: #fefefe;
}

.cc-header-title
{
    vertical-align: sub;
    margin-left: 10px;
    font-size: 16pt;
}

.cc-header-button
{
    font-size: 12pt;
    vertical-align: middle;
    margin-right: 5px;
}

.cc-body
{
    background-color:#fefefe;
}

.cc-table
{
    width: 100%;
}

.cc-thead
{
    background-color: #bbbbbb;
}

.cc-thead-row
{
    background-color: #bbbbbb;
}

.cc-column-header
{
    padding-left: 20px !important;
    border-right: 1px solid #000000;
    padding-right: 20px !important;
    text-align: center;
    white-space:nowrap
}
.cc-column-header:last-child
{
    border-right: none;
    width: 100%;
}

.cc-tbody
{

}

.cc-tbody-row
{

}

.cc-tbody-row-cell
{
    padding-left: 20px !important;
    border-right: 1px solid #000000;
    padding-right: 20px !important;
    text-align: center;
    white-space:nowrap
}

.cc-tbody-row-cell:last-child
{
    border-right: none;
}

/* Comment List Styles */

.comment-list
{
    width: 100%;
    height:100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.comment-list-header
{
    background-color: #000000;
    display: inline-block;
    width: 100%;
}

.comment-list-header-title
{
    color: #fefefe;
    font-size: 16pt;
    margin-left: 20px;
}

.comment-list-header-button
{
    color: #fefefe;
    font-size: 16pt;
    margin-right: 10px;
    top: -1px !important;
    line-height: unset !important;
    cursor: pointer;
}

.comment-list-body
{
    background-color: #fefefe;
    min-height: 30px;
}

.comment-bubble
{
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    min-height: 10px;
    box-sizing: content-box;
    padding: 1px;
}

.comment-bubble-client
{
    border-radius: 5px;
    background-color: #fefefe;
}

.comment-bubble-client-header
{
    background-color: #dddddd;
    border-radius: 5px 5px 0px 0px;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.comment-bubble-client-header-span
{
    font-size: 12pt;
    color: #bb2e2e;
    margin-left: 20px;
}

.delete-comment-button
{
    color: #000000;
    font-size: 12pt;
    margin-right: 10px;
    top: -1px !important;
    line-height: unset !important;
    cursor: pointer;
}

.comment-bubble-client-body
{
    background-color: #fefefe;
    border-radius: 0px 0px 5px 5px ;
    margin: 0;
    min-height: 10px;
}

.comment-bubble-client-body-span
{
    font-size: 12pt;
    color: #000000;
    margin-left: 30px;
}




